* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
    --safe-padding: 20px;
    --inner-safe-padding: 15px;

    --h1-font-size: 22px;
}

h1 {
    font-size: var(--h1-font-size);
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

#main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

#main-title {
    gap: 5px;
}

#main-title * {
    margin: 0;
}

.card-subtitle {
    font-size: 14px;
}

.fullw {
    width: 100%;
}

.fullh {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flexbox {
    display: flex;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.flexbox.flex-hcentered,
.flexbox-col.flex-vcentered {
    justify-content: center;
}

.flexbox.flex-vcentered,
.flexbox-col.flex-hcentered {
    align-items: center;
}

.side-soft-padding {
    padding-left: var(--safe-padding);
    padding-right: var(--safe-padding);
}

.inner-side-safe-padding {
    padding-left: var(--inner-safe-padding);
    padding-right: var(--inner-safe-padding);
}

.rounded {
    border-radius: 100px;
}

#header {
    justify-content: center;
    position: relative;
    height: fit-content;
    margin-bottom: 50px;
    padding-top: var(--safe-padding);
}

#header .logo {
    width: fit-content;
    height: 24px;
}

#header #navbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    gap: 20px;
}

#header #navbar .nav-btn {
    font-size: 16px;
}

#header #navbar .nav-btn:hover {
    color: #0065FC;
    box-shadow: inset 0 2px 0 0px #0065FC;
}

.location-search-bar {
    font-size: 18px;
}

.location-search-bar .location-icon {
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
    cursor: pointer;
}

.location-search-bar .location-icon i {
    color: black;
}

.location-search-bar input[name="location-search-input"] {
    border: 0;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    font-weight: 600;
}

.location-search-bar .search,
.location-search-bar .search-mobile {
    border: 0;
    background: #0065FC;
    color: white;
    font-weight: 600;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.location-search-bar .search-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-left: -15px;
    box-shadow: 0 4px 4px #00000040;
    width: 50px;
}

.location-search-bar .search-mobile i {
    color: white;
}

#content,
#content > #intro {
    gap: 40px;
}

#content {
    margin-bottom: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: var(--h1-font-size);
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

#filters {
    gap: 15px;
}

#filters .title {
    font-size: 18px;
}

#filters .filter-buttons-container {
    gap: 15px;
}

.filter-buttons-container .filter-button {
    gap: 15px;
    border: solid 2px #D9D9D9;
    height: 50px;
    font-weight: 600;
    background: white;
    cursor: pointer;
    text-wrap-mode: nowrap;
    font-size: 16px;
}

#filters .filter-button:hover {
    background: #DEEBFF;
}

#availability-count {
    gap: 10px;
}

#availability-count i {
    width: 24px;
    height: 24px;
    font-size: 0.9rem;
    border: solid 1px #D9D9D9;
}

#hosts-and-popular {
    justify-content: space-between;
}

#hosts-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hosts {
    width: 65%;
    justify-content: space-between;
    gap: 30px;
}

.hosts-cards {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.hosts-cards a,
.hosts-cards .card {
    flex: 1;
}

.hosts-cards .card img {
    height: 124px;
    border-radius: 15px 15px 0 0;
}

.hosts-cards .card-content {
    justify-content: space-between;
    flex: 1;
    box-sizing: border-box;
}

.hosts-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hosts-cards .card-subtitle {
    margin: 0;
}

.hosts-cards .card-rating {
    margin-bottom: 5px;
}

.hosts-show-more {
    font-weight: 600;
    font-size: 18px;
}

.popular {
    width: 32%;
}

.popular-title {
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    margin-top: 33px;
}

.popular-cards .card img {
    width: 33%;
    height: 136px;
    border-radius: 15px 0 0 15px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

#activities {
    padding: 30px;
}

.activities-cards {
    gap: 30px;
}

.activities-cards a {
    flex: 1;
    padding: 0;
}

.activities-cards .card > article {
    padding: 0;
    padding-bottom: 5px;
}

.activities-cards .card img {
    height: 380px;
    aspect-ratio: 297 / 380;
    border-radius: 15px 15px 0 0;
}

#activities h2 {
    font-size: 22px;
}

#activities h3 {
    flex: 1;
    margin: 0;
    min-height: 60px;
    font-size: 16px;
}

footer {
    background: #F2F2F2;
}

footer .sub-cat {
    gap: 15px;
    flex: 1;
    padding: var(--safe-padding);
}

footer .sub-cat h3 {
    font-size: 18px;
}

footer .sub-cat * {
    margin: 0;
    font-size: 16px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #filters,
    #hosts-and-popular {
        flex-direction: column;
    }

    #filters {
        align-items: flex-start;
    }

    #filters .title {
        margin: 0;
    }

    #filters .filter-buttons-container {
        flex-wrap: wrap;
    }

    #hosts-and-popular {
        gap: 40px;
    }

    .hosts,
    .popular {
        width: 100%;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards .card {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    #main-container {
        padding: 0;
    }

    #filters .title,
    #filters .filter-buttons-container,
    .popular-cards .card,
    #header #navbar,
    .location-search-bar {
        width: 100%;
    }

    #main-title,
    .location-search-bar-container,
    #filters,
    #availability-count {
        padding-left: var(--safe-padding);
        padding-right: var(--safe-padding);
    }

    #header,
    #filters .filter-buttons-container {
        height: fit-content;
    }

    #header {
        align-items: center;
        margin-top: 15px;
    }

    #header .logo {
        height: 24px;
    }

    #header #navbar {
        position: relative;
        margin-top: 42px;
    }

    #header #navbar,
    #filters,
    #hosts-and-popular {
        gap: 0;
    }

    #header #navbar .nav-btn,
    .location-search-bar-container,
    .location-search-bar {
        justify-content: center;
    }

    #header #navbar .nav-btn {
        align-items: flex-start;
        box-shadow: inset 0 -2px 0 0px #F2F2F2;
    }

    #header #navbar .nav-btn,
    .location-search-bar input[name="location-search-input"]  {
        flex: 1;
    }

    #header #navbar .nav-btn:hover {
        box-shadow: inset 0 -2px 0 0px #0065FC;
    }

    .location-search-bar .search-mobile,
    .location-search-bar-container {
        display: flex;
    }

    .location-search-bar .search {
        display: none;
    }
    
    #filters .filter-buttons-container {
        justify-content: flex-start;
        margin-top: 20px;
    }

    .filter-buttons-container .filter-button {
        width: calc(50% - 15px);
        font-size: 16px;
    }

    #availability-count {
        width: calc(100% - 40px);
    }

    #hosts-and-popular {
        flex-direction: column-reverse;
    }

    #hosts-and-popular > section {
        border-radius: 0;
    }

    #hosts-and-popular .hosts {
        background: white;
    }

    .hosts-cards {
        grid-template-columns: 1fr;
    }

    .popular-cards,
    .activities-cards,
    footer,
    footer > div {
        flex-direction: column;
    }

    .activities-cards .card img {
        height: 141px;
    }

    footer {
        padding-bottom: var(--safe-padding);
    }
}

@media (max-width: 420px) {
    #filters .filter-buttons-container {
        flex-direction: column;
    }

    #filters .filter-buttons-container .filter-button {
        width: 100%;
    }
}